
  <section class="home">

<!--      <div class="media-links-container">
        <div class="media-links">
          <a class="media-link" href="https://github.com/coletormey" target="blank">
            <svg class="github-icon"></svg>
          </a>
          <div class="spacer"></div>
          <a class="media-link" href="https://www.instagram.com/usernamecoleisnotavailable/" target="blank">
            <svg class="music-icon"></svg>
          </a>
        </div>
      </div>-->

      <div class="menu-container">
        <canvas class="menu" #canvas id="canvas"></canvas>
      </div>




    <div class="name-container">
      <div class="name">

      </div>
    </div>

    <div class="subtitles"></div>

    <div class="wrapper"></div>

  </section>

