<!--<div class="media-links-container">
  <div class="media-links">
    <a class="media-link" href="https://github.com/coletormey" target="blank">
      <svg class="github-icon"></svg>
    </a>
    <div class="spacer"></div>
    <a class="media-link" href="https://www.instagram.com/usernamecoleisnotavailable/" target="blank">
      <svg class="music-icon"></svg>
    </a>
  </div>
</div>-->
<div class="menu-container">
  <img src="/assets/muteIcon.png" value="click" id="sound" class="soundIcon" />
  <img src="/assets/backButton_Unselected.png" value="click" id="return" class="returnIcon" />
  <canvas class="menu" #canvas id="canvas">
  </canvas>
  <div class="option-container">
    <div class="option" id="option-profile">
      <pre class="profile-blurb">
asdf
asdf
asdf
asfd
asdf
asdf
asdf
asdf
asdf
asdf
asdf
asdf
asdf
asdf
asdf
asdf
asdf
asdf
sdfg
r g
drytum
dnrbt
vse
ryj
mftui
ym
undb
thves
tb
hntr
ymiu
,yutmi
trunb
y
nyrt
      </pre>
    </div>
    <div class="option" id="option-system">yoooooo system</div>
    <div class="option" id="option-contact">yoooooo contact</div>
    <div class="option_shadow" id="option-shadow"></div>
  </div>

</div>

