<div id="welcome">
  <section class="home">
    <div class="social-media-links">
      <div style="opacity: 1;">

      </div>
      <div style="opacity: 1;">

      </div>
      <div style="opacity: 1;">
        <a href="https://github.com/coletormey" target="blank">
          <svg class="github-icon" width="80" height="80">
            
          </svg>
        </a>
      </div>
    </div>
    <div class="name"></div>
    <div class="subtitles"></div>
    <div class="wrapper"></div>
    </div>
  </section>
</div>
